<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.element.hydrogen.mapper.graph.DonHlmInfoMapper" >
  <resultMap id="BaseResultMap" type="com.element.hydrogen.entity.graph.DonHlmInfoEntity" >
    <id column="DON_HLM_INFO_ID" property="donHlmInfoId" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="NICKNAME" property="nickname" jdbcType="VARCHAR" />
    <result column="SEX" property="sex" jdbcType="VARCHAR" />
    <result column="AGE" property="age" jdbcType="VARCHAR" />
    <result column="USER_TYPE" property="userType" jdbcType="VARCHAR" />
    <result column="PROFILE" property="profile" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="CLAN" property="clan" jdbcType="VARCHAR" />
    <result column="USER_LEVEL" property="userLevel" jdbcType="VARCHAR" />
    <result column="DEBUT" property="debut" jdbcType="VARCHAR" />
    <result column="USER_ATTRIBUTES" property="userAttributes" jdbcType="VARCHAR" />
    <result column="AVATAR" property="avatar" jdbcType="VARCHAR" />
    <result column="USER_STATUS" property="userStatus" jdbcType="VARCHAR" />
    <result column="REMARK" property="remark" jdbcType="VARCHAR" />
    <result column="CREATE_BY" property="createBy" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
    <result column="UPDATE_BY" property="updateBy" jdbcType="VARCHAR" />
    <result column="UPDATE_DATE" property="updateDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    DON_HLM_INFO_ID, USER_ID, USER_NAME, NICKNAME, SEX, AGE, USER_TYPE, PROFILE, ADDRESS, 
    CLAN, USER_LEVEL, DEBUT, USER_ATTRIBUTES, AVATAR, USER_STATUS, REMARK, CREATE_BY, 
    CREATE_DATE, UPDATE_BY, UPDATE_DATE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from don_hlm_info
    where DON_HLM_INFO_ID = #{donHlmInfoId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from don_hlm_info
    where DON_HLM_INFO_ID = #{donHlmInfoId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.element.hydrogen.entity.graph.DonHlmInfoEntity" >
    insert into don_hlm_info (DON_HLM_INFO_ID, USER_ID, USER_NAME, 
      NICKNAME, SEX, AGE, 
      USER_TYPE, PROFILE, ADDRESS, 
      CLAN, USER_LEVEL, DEBUT, 
      USER_ATTRIBUTES, AVATAR, USER_STATUS, 
      REMARK, CREATE_BY, CREATE_DATE, 
      UPDATE_BY, UPDATE_DATE)
    values (#{donHlmInfoId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{nickname,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{userType,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, 
      #{clan,jdbcType=VARCHAR}, #{userLevel,jdbcType=VARCHAR}, #{debut,jdbcType=VARCHAR}, 
      #{userAttributes,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{userStatus,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=DATE}, 
      #{updateBy,jdbcType=VARCHAR}, #{updateDate,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.element.hydrogen.entity.graph.DonHlmInfoEntity" >
    insert into don_hlm_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="donHlmInfoId != null" >
        DON_HLM_INFO_ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="nickname != null" >
        NICKNAME,
      </if>
      <if test="sex != null" >
        SEX,
      </if>
      <if test="age != null" >
        AGE,
      </if>
      <if test="userType != null" >
        USER_TYPE,
      </if>
      <if test="profile != null" >
        PROFILE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="clan != null" >
        CLAN,
      </if>
      <if test="userLevel != null" >
        USER_LEVEL,
      </if>
      <if test="debut != null" >
        DEBUT,
      </if>
      <if test="userAttributes != null" >
        USER_ATTRIBUTES,
      </if>
      <if test="avatar != null" >
        AVATAR,
      </if>
      <if test="userStatus != null" >
        USER_STATUS,
      </if>
      <if test="remark != null" >
        REMARK,
      </if>
      <if test="createBy != null" >
        CREATE_BY,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="updateBy != null" >
        UPDATE_BY,
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="donHlmInfoId != null" >
        #{donHlmInfoId,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        #{userType,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="clan != null" >
        #{clan,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="debut != null" >
        #{debut,jdbcType=VARCHAR},
      </if>
      <if test="userAttributes != null" >
        #{userAttributes,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.element.hydrogen.entity.graph.DonHlmInfoEntity" >
    update don_hlm_info
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="nickname != null" >
        NICKNAME = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        SEX = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        AGE = #{age,jdbcType=VARCHAR},
      </if>
      <if test="userType != null" >
        USER_TYPE = #{userType,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        PROFILE = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="clan != null" >
        CLAN = #{clan,jdbcType=VARCHAR},
      </if>
      <if test="userLevel != null" >
        USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      </if>
      <if test="debut != null" >
        DEBUT = #{debut,jdbcType=VARCHAR},
      </if>
      <if test="userAttributes != null" >
        USER_ATTRIBUTES = #{userAttributes,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null" >
        AVATAR = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="userStatus != null" >
        USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        REMARK = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        CREATE_BY = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=DATE},
      </if>
      <if test="updateBy != null" >
        UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null" >
        UPDATE_DATE = #{updateDate,jdbcType=DATE},
      </if>
    </set>
    where DON_HLM_INFO_ID = #{donHlmInfoId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.element.hydrogen.entity.graph.DonHlmInfoEntity" >
    update don_hlm_info
    set USER_ID = #{userId,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      NICKNAME = #{nickname,jdbcType=VARCHAR},
      SEX = #{sex,jdbcType=VARCHAR},
      AGE = #{age,jdbcType=VARCHAR},
      USER_TYPE = #{userType,jdbcType=VARCHAR},
      PROFILE = #{profile,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      CLAN = #{clan,jdbcType=VARCHAR},
      USER_LEVEL = #{userLevel,jdbcType=VARCHAR},
      DEBUT = #{debut,jdbcType=VARCHAR},
      USER_ATTRIBUTES = #{userAttributes,jdbcType=VARCHAR},
      AVATAR = #{avatar,jdbcType=VARCHAR},
      USER_STATUS = #{userStatus,jdbcType=VARCHAR},
      REMARK = #{remark,jdbcType=VARCHAR},
      CREATE_BY = #{createBy,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=DATE},
      UPDATE_BY = #{updateBy,jdbcType=VARCHAR},
      UPDATE_DATE = #{updateDate,jdbcType=DATE}
    where DON_HLM_INFO_ID = #{donHlmInfoId,jdbcType=VARCHAR}
  </update>

  <!--分页查询-->
  <select id="query" parameterType="com.element.hydrogen.entity.graph.DonHlmInfoEntity" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from don_hlm_info a
    where 1=1
    <if test="queryName != null and queryName != ''">
      and (USER_NAME = #{queryName,jdbcType=VARCHAR}
      or USER_TYPE= #{queryName,jdbcType=VARCHAR}
      or CLAN= #{queryName,jdbcType=VARCHAR}
      )
    </if>
  </select>
</mapper>